﻿@model FreddosExpenses.ViewModels.ExpenseApprovalProcessingViewModal
<tr>
    <td>
        @Html.CheckBoxFor(modelItem => modelItem.Selected)
        @Html.HiddenFor(modelItem => modelItem.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ExpenseDate)
        @Html.HiddenFor(modelItem => modelItem.ExpenseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Amount)
        @Html.HiddenFor(modelItem => modelItem.Amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Description)
        @Html.HiddenFor(modelItem => modelItem.Description)
    </td>
	<td>
        @Html.DisplayFor(modelItem => modelItem.CreatedByUserName)
        @Html.HiddenFor(modelItem => modelItem.CreatedByUserName)
    </td>
    <td>
        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
        <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
        @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
    </td>
</tr>
