﻿@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <form asp-action="ForgotPassword" method="post">
                <h4>Forgotten Password</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span class="help-block">An email will be sent to this address with a link to reset your password.</span>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
