﻿@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well mt-20">
            <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                <h4>Create an account</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
				<div class="form-group">
                    <label asp-for="Role"></label>

                    @Html.DropDownList("Role", new List<SelectListItem>
                    {
                        new SelectListItem{ Text="Please select ", Value = "" },
                        new SelectListItem{ Text="Employee", Value = "Employee" },
                        new SelectListItem{ Text="Manager", Value = "Manager" },
                        new SelectListItem{ Text="Finance", Value = "Finance" },
                    }, new { style = "width:250px;" })
                    

                    @*<select asp-for="Role" asp-items="@ViewBag.Roles" class="form-control">
                        <option value="">Please select</option>
                    </select>*@
                </div>
            <button type="submit" class="btn btn-default">Register</button>
        </form>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
