﻿@model FreddosExpenses.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h3 class="mb-40">Expenses System</h3>

<div class="row">
    <div class="@(Model.ShowExpenseLoging == true ? "col-md-4" : "col-md-4 disabledArea")">
		<div class="well">
            <p>I want to view my expenses...</p>
            <a asp-area="" asp-controller="Expenses" asp-action="Index" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="@(Model.ShowExpenseSubmission == true ? "col-md-4" : "col-md-4 disabledArea")">
        <div class="well">
            <p>I want to submit for approval...</p>
            <a asp-area="" asp-controller="ExpenseApprovalSubmission" asp-action="Index" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="@(Model.ShowExpenseApproval == true ? "col-md-4" : "col-md-4 disabledArea")">
        <div class="well">
            <p>I want to approve / reject expenses...</p>
            <a asp-area="" asp-controller="ExpenseApprovalRejection" asp-action="Index" class="btn btn-primary">Go</a>
        </div>
    </div>
    <div class="@(Model.ShowExpenseRevision == true ? "col-md-4" : "col-md-4 disabledArea")">
        <div class="well">
            <p>I want to processes approved expenses...</p>
            <a asp-area="" asp-controller="ExpenseApprovalProcessing" asp-action="Index" class="btn btn-primary">Go</a>
        </div>
    </div>
</div>
       
    
