﻿@model FreddosExpenses.ViewModels.ExpenseApprovalViewModal

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>ExpenseApprovalViewModal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Approved" /> @Html.DisplayNameFor(model => model.Approved)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Rejected" /> @Html.DisplayNameFor(model => model.Rejected)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="SubmittedDate" class="control-label"></label>
                <input asp-for="SubmittedDate" class="form-control" />
                <span asp-validation-for="SubmittedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseDate" class="control-label"></label>
                <input asp-for="ExpenseDate" class="form-control" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

