﻿@model FreddosExpenses.ViewModels.ExpenseApprovalSelectionViewModal

@{
    ViewData["Title"] = "Index";
}

<div class="well mt-20">
    <h4 class="mt-10 mb-20">Expenses for Approvals / Rejection</h4>
    <form asp-action="Create" asp-controller="ExpenseApprovalRejection" enctype="multipart/form-data">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Approve
                    </th>
                    <th>
                        Reject
                    </th>
                    <th>
                        Submitted Date
                    </th>
                    <th>
                        Expense Date
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Comment
                    </th>
					<th>
                        Created By
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.ExpenseApproval)
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Submit for Approval / Rejection" class="btn btn-primary mr-10" />
        </div>
    </form>
</div>