﻿@model FreddosExpenses.ViewModels.ExpenseApprovalViewModal

<tr>
    <td>
        @Html.RadioButtonFor(modelItem => modelItem.ApprovalStatus, "Approved")
    </td>
    <td>
        @Html.RadioButtonFor(modelItem => modelItem.ApprovalStatus, "Rejected")
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.SubmittedDate)
        @Html.HiddenFor(modelItem => modelItem.Id)
        @Html.HiddenFor(modelItem => modelItem.SubmittedDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ExpenseDate)
        @Html.HiddenFor(modelItem => modelItem.ExpenseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Amount)
        @Html.HiddenFor(modelItem => modelItem.Amount)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Description)
        @Html.HiddenFor(modelItem => modelItem.Description)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Comment)
        @Html.EditorFor(modelItem => modelItem.Comment)
    </td>
	<td>
        @Html.DisplayFor(modelItem => modelItem.CreatedByUserName)
        @Html.HiddenFor(modelItem => modelItem.CreatedByUserName)
    </td>
    <td>
        <a asp-action="Details" asp-route-id="@Model.Id">Details</a>
    </td>
</tr>