﻿@model FreddosExpenses.ViewModels.ExpenseApprovalSubmissionSelectionViewModal

@{
    ViewData["Title"] = "Approvals";
}
<div class="well mt-20">
    <h4 class="mt-10 mb-20">Expenses for Approvals</h4>
    <form asp-action="Create" asp-controller="ExpenseApprovalSubmission" enctype="multipart/form-data">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Selected
                    </th>
                    <th>
                       Submitted
                    </th>
                    <th>
                       Expense Date
                    </th>
                    <th>
                       Amount
                    </th>
                    <th>
                        Description
                    </th>
					<th>
                        Created By
					</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.ExpenseApproval)
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Submit for Approval" class="btn btn-primary mr-10" />
        </div>
    </form>
</div>