﻿@model FreddosExpenses.ViewModels.ExpenseApprovalProcessingSelectionViewModal

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="well mt-20">
    <h4 class="mt-10 mb-20">Expenses Ready for Processing</h4>
    <form asp-action="Create" asp-controller="ExpenseApprovalProcessing" enctype="multipart/form-data">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Process
                    </th>
                    <th>
                        Expense Date
                    </th>
                    <th>
                        Amount
                    </th>
                    <th>
                        Description
                    </th>
					<th>
                        Created By
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Html.EditorFor(model => model.ExpenseApproval)
            </tbody>
        </table>
        <div class="form-group">
            <input type="submit" value="Submit Processed" class="btn btn-primary mr-10" />
        </div>
    </form>
</div>