﻿@model FreddosExpenses.Models.Expense
@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well mt-20">
            <form asp-action="Create" asp-controller="Expenses" enctype="multipart/form-data">
                <h4>Create a new expense</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ExpenseDate" class="control-label"></label>
                    <input asp-for="ExpenseDate" class="form-control" type="date" />
                    <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="file" name="Images" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary mr-10" />
                    <a asp-action="Index" class="btn btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
