﻿@model FreddosExpenses.Models.Expense

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h3>Are you sure you want to delete this?</h3>
        <div class="well mt-20">
            <h4>Expense Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.SubmittedDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.SubmittedDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.ExpenseDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.ExpenseDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Amount)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt>
                    Scanned Receipt
                </dt>
                @if (Model.ExpenseReceipts.Count == 0)
                {
                    <dd>
                        <img class="receipt-img" asp-for="receipt" src="@string.Format("https://{0}/receipts/no-receipt-no-return.jpg", Context.Request.Host)" />
                    </dd>
                }
                else
                {
                    foreach (var receipt in Model.ExpenseReceipts)
                    {
                        <dd>
                            <img class="receipt-img" asp-for="receipt" src="@string.Format("https://{0}/receipts/{1}", Context.Request.Host, receipt.StoredFileName)" />
                        </dd>
                    }
                }
                @*<dt>
                        @Html.DisplayNameFor(model => model.Image)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Image)
                    </dd>*@
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-primary" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        </div>
    </div>
</div>