﻿@model FreddosExpenses.Models.Expense

@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <form asp-action="Edit" asp-controller="Expenses" enctype="multipart/form-data">
                <h4>Edit Expense</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                @*<div class="form-group">
                    <label asp-for="SubmittedDate" class="control-label"></label>
                    <input asp-for="SubmittedDate" class="form-control" />
                    <span asp-validation-for="SubmittedDate" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="ExpenseDate" class="control-label"></label>
                    <input asp-for="ExpenseDate" class="form-control" type="date" />
                    <span asp-validation-for="ExpenseDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
@if (Model.ExpenseReceipts.Count == 0)
{
    <div class="form-group">
        <label class="control-label">Scanned Receipt</label>
        <img class="receipt-img" asp-for="receipt" src="@string.Format("https://{0}/receipts/no-receipt-no-return.jpg",Context.Request.Host)" />
    </div>
}
else
{
    foreach (var ExpenseReceipt in Model.ExpenseReceipts)
    {
                <div class="form-group">
                    <label class="control-label">Scanned Receipt</label>
                    <img class="receipt-img" asp-for="receipt" src="@string.Format("https://{0}/receipts/{1}",Context.Request.Host, ExpenseReceipt.StoredFileName)" />
                </div>
    }
}    
                <div class="form-group">
                    <label class="control-label">Upload a new receipt</label>
                    <input type="file" name="Images" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="Index" class="btn btn-default">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
