﻿@model IEnumerable<FreddosExpenses.Models.Expense>
@{
    ViewData["Title"] = "Expenses";
}

<div class="well mt-20">
    <h4 class="mt-10 mb-20">Expenses</h4>
    <a class="btn btn-primary mb-20" asp-action="Create">Create New</a>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SubmittedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpenseDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    Comment
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedByUserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmittedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpenseDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @if (item.ExpenseApprovals != null && item.ExpenseApprovals.Count > 0)
                        {
                            @item.ExpenseApprovals.LastOrDefault().Comment
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedByUserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
